/*
Theme Name: eBTC
Theme URI: http://cubicfox.com
Description: Divi Child Theme
Author: Cubicfox Kft.
Author URI: http://cubicfox.com
Template: Divi
Version: 1.0.1
*/

@import url("../Divi/style.css");

body, input, textarea, select{
  font-weight: 400;
}

a{
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 500;
}

h1{
  font-size: 60px !important;
}

h1, h2{
  letter-spacing: -1px;
}

strong{
  font-weight: 500;
}

#main-header{
  padding-top: 20px;
}

.et-fixed-header#main-header{
  padding-top: 0 !important;
  background-color: rgba(10, 14, 104, 0.7);
}

.custom-menu-item-highlight{
  background-color: #ff8502;
  padding: 8px 14px !important;
  border-radius: 30px;
}

div#marquee-container.ccc-widget.ccc-header-v3{
  background-color: transparent !important;
}

#bitcoin-currencies{
  border: 1px dashed #fff;
  border-radius: 4px;
  display: inline-block;
}

.ccc-widget #marquee-inner .ccc-header-v3-ccc-price-container a, .ccc-widget #marquee-inner .ccc-header-v3-ccc-price-container span{
  font-family: 'Rubik', Helvetica, Arial, Lucida, sans-serif !important;
}

.ccc-header-v3-ccc-price-container{
  margin-right: 0px !important;
  padding: 8px 10px;
}

.ccc-header-v3-price-logo{
  width: 16px !important;
  height: 16px !important;
  margin-right: 10px;
  color: #fff !important;
}

.ccc-header-v3-price-name{
  font-size: 12px;
  font-weight: 500 !important;
  color: #fff !important;
}

.ccc-header-v3-price-value{
  font-size: 16px;
  margin-left: 20px;
  color: #fff !important;
}

.ccc-header-v3-price-change{
  background-color: #fff;
  padding: 5px 14px 6px 14px;
  border-radius: 30px;
  font-size: 8px;
  margin-left: 10px;
  line-height: 1em;
  margin-top: -4px;
}

.et_button_no_icon .et_pb_button, .et_button_no_icon .et_pb_button:hover, .et_button_no_icon.et_button_icon_visible.et_button_left .et_pb_button,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce #content input.button, .et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce #content input.button.alt,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce #respond input#submit, .et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce #respond input#submit.alt,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce a.button, .et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce a.button.alt,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce button.button, .et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce button.button.alt,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce input.button, .et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce input.button.alt,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page #content input.button, .et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page #content input.button.alt,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page #respond input#submit, .et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page #respond input#submit.alt,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page a.button, .et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page a.button.alt,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page button.button, .et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page button.button.alt,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page input.button, .et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page input.button.alt, .et_button_no_icon.et_button_left .et_pb_button:hover,
.et_button_no_icon.et_button_left.woocommerce #content input.button.alt:hover, .et_button_no_icon.et_button_left.woocommerce #content input.button:hover, .et_button_no_icon.et_button_left.woocommerce #respond input#submit.alt:hover,
.et_button_no_icon.et_button_left.woocommerce #respond input#submit:hover, .et_button_no_icon.et_button_left.woocommerce a.button.alt:hover, .et_button_no_icon.et_button_left.woocommerce a.button:hover,
.et_button_no_icon.et_button_left.woocommerce button.button.alt:hover, .et_button_no_icon.et_button_left.woocommerce button.button:hover, .et_button_no_icon.et_button_left.woocommerce input.button.alt:hover,
.et_button_no_icon.et_button_left.woocommerce input.button:hover, .et_button_no_icon.et_button_left.woocommerce-page #content input.button.alt:hover, .et_button_no_icon.et_button_left.woocommerce-page #content input.button:hover,
.et_button_no_icon.et_button_left.woocommerce-page #respond input#submit.alt:hover, .et_button_no_icon.et_button_left.woocommerce-page #respond input#submit:hover, .et_button_no_icon.et_button_left.woocommerce-page a.button.alt:hover,
.et_button_no_icon.et_button_left.woocommerce-page a.button:hover, .et_button_no_icon.et_button_left.woocommerce-page button.button.alt:hover, .et_button_no_icon.et_button_left.woocommerce-page button.button:hover,
.et_button_no_icon.et_button_left.woocommerce-page input.button.alt:hover, .et_button_no_icon.et_button_left.woocommerce-page input.button:hover, .et_button_no_icon.woocommerce #content input.button, .et_button_no_icon.woocommerce #content input.button.alt,
.et_button_no_icon.woocommerce #content input.button.alt:hover, .et_button_no_icon.woocommerce #content input.button:hover, .et_button_no_icon.woocommerce #respond input#submit, .et_button_no_icon.woocommerce #respond input#submit.alt,
.et_button_no_icon.woocommerce #respond input#submit.alt:hover, .et_button_no_icon.woocommerce #respond input#submit:hover, .et_button_no_icon.woocommerce a.button, .et_button_no_icon.woocommerce a.button.alt, .et_button_no_icon.woocommerce a.button.alt:hover,
.et_button_no_icon.woocommerce a.button:hover, .et_button_no_icon.woocommerce button.button, .et_button_no_icon.woocommerce button.button.alt, .et_button_no_icon.woocommerce button.button.alt:hover, .et_button_no_icon.woocommerce button.button:hover, .et_button_no_icon.woocommerce input.button,
.et_button_no_icon.woocommerce input.button.alt, .et_button_no_icon.woocommerce input.button.alt:hover, .et_button_no_icon.woocommerce input.button:hover, .et_button_no_icon.woocommerce-page #content input.button, .et_button_no_icon.woocommerce-page #content input.button.alt,
.et_button_no_icon.woocommerce-page #content input.button.alt:hover, .et_button_no_icon.woocommerce-page #content input.button:hover, .et_button_no_icon.woocommerce-page #respond input#submit, .et_button_no_icon.woocommerce-page #respond input#submit.alt,
.et_button_no_icon.woocommerce-page #respond input#submit.alt:hover, .et_button_no_icon.woocommerce-page #respond input#submit:hover, .et_button_no_icon.woocommerce-page a.button, .et_button_no_icon.woocommerce-page a.button.alt, .et_button_no_icon.woocommerce-page a.button.alt:hover,
.et_button_no_icon.woocommerce-page a.button:hover, .et_button_no_icon.woocommerce-page button.button, .et_button_no_icon.woocommerce-page button.button.alt, .et_button_no_icon.woocommerce-page button.button.alt:hover, .et_button_no_icon.woocommerce-page button.button:hover,
.et_button_no_icon.woocommerce-page input.button, .et_button_no_icon.woocommerce-page input.button.alt, .et_button_no_icon.woocommerce-page input.button.alt:hover, .et_button_no_icon.woocommerce-page input.button:hover, .woocommerce input.button, .woocommerce input.button:hover{
  padding: .5em 1.2em !important;
}

.et_pb_button_module_wrapper.et_pb_module .et_pb_button.button-style-2#buy-etc-button{
  padding-left: 2.7em !important;
  padding-right: 1em !important;
}

.et_pb_button_module_wrapper.et_pb_module .et_pb_button.button-style-2#buy-etc-button:before{
  content: "\f201" !important;
  font-family: FontAwesome !important;
  margin-left: -1.5em;
}

.et_pb_button:hover{
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.button-style-2:hover{
  opacity: 0.8;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

#purple-dot-fog{
  position: absolute;
  left: -150px;
  top: 100px;
}

#orange-bg-section{
  z-index: 999;
}

#orange-bg-col1 .et_pb_module{
  float: left;
}

#orange-bg-col1 .et_pb_module:first-child{
  width: 30%;
}

#orange-bg-col1 .et_pb_module:last-child{
  width: 70%;
}

#orange-bg-col2 .et_pb_module:first-child{
  float: left !important;
  width: 25% !important;
}

#orange-bg-col2 .et_pb_module{
  float: left;
  width: 15%;
}

#exchanges-section{
  background-position: center 380px;
}

.light-blue-borders{
  border: 1px solid #e5f1ff;
  border-radius: 4px;
}

#wallets-section h3{
  font-size: 31px !important;
  letter-spacing: 0px !important;
}

#wallets-section h4{
  letter-spacing: 0px !important;
}

#team-two-columns .et_pb_column:first-child{
  width: 20.5%;
  margin-right: 0;
}

#team-two-columns #team-two-column-1{
  width: 28% !important;
  margin-right: 3% !important;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.25);
}

#team-two-columns #team-two-column-2{
  margin-right: 0 !important;
  width: 28% !important;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.25);
}

#team-two-columns .et_pb_column:last-child{
  width: 20.5% !important;
}

.orange-bubbles{
  position: absolute;
}

.orange-bubbles .et_pb_text_inner{
  display: inline-block;
  padding: 4px 14px;
  background-color: #ff8502;
  border-radius: 30px;
  font-weight: 500;
  position: absolute;
  z-index: 9;
}

.orange-bubbles:after{
  border-top: 1px solid #ff8502;
  width: 260px;
  height: 1px;
  display: inline-block;
  position: relative;
  content: "";
}

.white-bubbles{
  float: left;
}

.white-bubbles .et_pb_text_inner{
  display: inline-block;
  padding: 4px 14px;
  background-color: #fff;
  border-radius: 30px;
  font-weight: 500;
  position: relative;
  z-index: 9;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);
}

#orange-bubble-first-long.orange-bubbles:after{
  width: 1100px;
}

#white-bubble-first .et_pb_text_inner{
  left: 210px;
  position: relative;
}

#white-bubble-second .et_pb_text_inner{
  left: 300px;
}

#white-bubble-third .et_pb_text_inner{
  left: 380px;
}

#white-bubble-fourth .et_pb_text_inner{
  left: 490px;
}

#white-bubble-fifth .et_pb_text_inner{
  left: 580px;
}

.white-bubbles .fa-linkedin-square{
  color: #0077b7;
  margin-left: 5px;
  font-size: 16px;
}

#orange-bubble-last-long.orange-bubbles:after{
  width: 500px;
}

#support-section h3{
  font-size: 26px !important;
}

#faq-section .et_pb_accordion{
  border-radius: 4px;
}

#faq-section .et_pb_accordion h5.et_pb_toggle_title{
  font-weight: 400 !important;
  padding: 0 0 0 50px;
}

#faq-section .et_pb_accordion .et_pb_toggle_title:before, #faq-section .et_pb_toggle .et_pb_toggle_title:before{
  left: 0;
  right: auto;
}

#faq-section .et_pb_toggle_close .et_pb_toggle_title:before{
  font-size: 32px;
  content: "L";
}

#faq-section .et_pb_toggle_open .et_pb_toggle_title:before{
  font-size: 32px;
  display: block;
  content: "K";
}

#faq-section .et_pb_toggle{
  border: 0;
  margin-bottom: 0 !important;
}

#faq-section .et_pb_toggle:not(.et_pb_toggle:last-child){
  border-bottom: 1px solid #d9d9d9;
}

#faq-section .et_pb_toggle:first-child{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#faq-section .et_pb_toggle:last-child{
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.et_pb_toggle_content{
  margin-left: 50px;
}

#bottom-subscribe{
  border-radius: 4px;
}

#bottom-subscribe-col1 .et_pb_newsletter_description{
  display: none;
}

#bottom-subscribe-col1 .et_pb_module{
  float: left !important;
}

#bottom-subscribe-col1 .et_pb_text{
  width: 35% !important;
  margin-right: 3% !important;
  margin-bottom: 0 !important;
  padding-top: 14px;
  padding-bottom: 13px;
}

#bottom-subscribe-col1 .et_pb_subscribe{
  width: 62% !important;
}

#bottom-subscribe-col1 .et_pb_subscribe .et_pb_newsletter_form{
  width: 80%;
  padding-left: 0;
  padding-top: 7px;
  padding-bottom: 6px;
}

#bottom-subscribe-col1 .et_pb_subscribe .et_pb_newsletter_form p:first-of-type{
  float: left !important;
  width: 65% !important;
  margin-right: 5% !important;
  display: inline-block;
  padding-bottom: 0;
}

#bottom-subscribe-col1 .et_pb_subscribe .et_pb_newsletter_form #et_pb_signup_email{
  padding: 5px 0px 6px 0px !important;
  border-bottom: 2px solid #efa83e !important;
  border-radius: 0 !important;
}

#bottom-subscribe-col1 .et_pb_subscribe .et_pb_newsletter_form p:last-of-type{
  float: left !important;
  width: 30% !important;
  display: inline-block;
}

#bottom-subscribe-col1 .et_pb_subscribe .et_pb_newsletter_form .et_pb_newsletter_button{
  padding: .5em !important;
}

#bottom-subscribe-col1 input::-webkit-input-placeholder{
  color: #fff !important;
}

#bottom-subscribe-col1 input::-moz-placeholder{
  color: #fff !important;
}

#bottom-subscribe-col1 input::placeholder{
  color: #fff !important;
}

#bottom-subscribe-col2 .et_pb_module{
  float: left;
  width: 20%;
}

#footer-widgets .footer-widget:first-child{
  width: 37.5% !important;
  margin: 0 5% 5% 0 !important;
}

#footer-widgets .footer-widget:first-child #custom_html-3{
  padding-top: 5px;
}

#footer-widgets .footer-widget:nth-child(2){
  width: 15%;
  margin: 0 0 5% 0 !important;
}

#footer-widgets .footer-widget:nth-child(2) .widget_media_image{
  text-align: center;
  float: none;
}

#footer-widgets .footer-widget:last-child{
  width: 37.5% !important;
  margin: 0 0 5% 5% !important;
}

#footer-widgets .footer-widget:last-child #custom_html-5{
  float: none;
  text-align: right;
  padding-top: 14px;
  padding-bottom: 14px;
}

#custom_html-5 .textwidget a{
  margin-left: 10px;
  text-decoration: underline;
}

#footer-widgets{
  padding: 3% 0 0;
}

#footer-bottom{
  padding: 0;
}



.stripes-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    overflow: hidden;
}

.bg-stripe {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    width: 130vw;
    margin-left: -15.6vw;
}


.stripe-top {
    height: 800px;
    background: #9dcbfe;
    position: relative;
    bottom: 0;
}

.stripe-middle {
    height: 800px;
    bottom: -240px;
    position: absolute;
    background: #bcdbff;
    margin-left: 0;
}

.stripe-bottom {
    height: 800px;
    bottom: -220px;
    position: absolute;
    background: #d3e8ff;
    margin-left: 0;
}

.no-warp {
    white-space: nowrap;
}

.timeline {
    position: absolute;
    bottom: -30px;
    width: 100%;
    text-align: center;
}

.timeline img {
    width: 48px;
}



#first-wave{
  height: 240px;
}

#first-wave .et_pb_column:first-child{
  position: absolute;
  margin-right: 0;
  left: 90px;
  bottom: -40px;
}

#first-wave .et_pb_column:nth-child(2){
  position: absolute;
  left: 300px;
  bottom: -40px;
  width: 30%;
}

#first-wave .et_pb_column:nth-child(3){
  position: absolute;
  right: 60px;
  bottom: -60px;
  width: 35%;
}

#first-wave .et_pb_column:nth-child(4){
  position: absolute;
  right: 0;
  bottom: -50px;
}

#second-wave{
  height: 220px;
  z-index: 99;
}

#second-wave .et_pb_column:first-child{
  position: absolute;
  left: 0;
  bottom: -20px;
}

#second-wave .et_pb_column:nth-child(2){
  position: absolute;
  left: 300px;
  bottom: -20px;
}

#second-wave .et_pb_column:nth-child(3){
  position: absolute;
  right: 180px;
  bottom: -40px;
  margin-right: 0;
  width: 30%;
}

#second-wave .et_pb_column:nth-child(4){
  position: absolute;
  right: 0px;
  bottom: -20px;
}

#third-wave{
  height: 230px;
}

#third-wave .et_pb_column:first-child{
  position: absolute;
  left: 90px;
  bottom: 10px;
  margin-right: 0;
}

#third-wave .et_pb_column:nth-child(2){
  position: absolute;
  left: 280px;
  bottom: 10px;
  margin-right: 0;
  width: 30%;
}

#third-wave .et_pb_column:nth-child(3){
  position: absolute;
  right: 220px;
  bottom: 10px;
}

#third-wave .et_pb_column:nth-child(4){
  position: absolute;
  right: 0px;
  bottom: 20px;
  width: 30%;
}



@media screen and (min-width: 1280px) and (max-width: 1440px) {
  #first-wave .et_pb_column:first-child{
    position: absolute;
    margin-right: 0;
    bottom: -20px;
  }
  #first-wave .et_pb_column:nth-child(2){
    position: absolute;
    left: 240px;
    bottom: -30px;
    width: 30%;
  }
  #first-wave .et_pb_column:nth-child(3){
    position: absolute;
    right: 50px;
    bottom: -60px;
    width: 36%;
  }
  #first-wave .et_pb_column:nth-child(3) h3{
    font-size: 24px;
  }
  #first-wave .et_pb_column:first-child{
    position: absolute;
    margin-right: 0;
    bottom: -20px;
  }
  #first-wave .et_pb_column:nth-child(2){
    position: absolute;
    left: 240px;
    bottom: -30px;
    width: 30%;
  }
  #first-wave .et_pb_column:nth-child(3){
    position: absolute;
    right: 50px;
    bottom: -60px;
    width: 36%;
  }
  #first-wave .et_pb_column:nth-child(3) h3{
    font-size: 24px;
  }
  #first-wave .et_pb_column:nth-child(4){
    position: absolute;
    right: 0;
    bottom: -50px;
  }
  #second-wave .et_pb_column:first-child{
    position: absolute;
    left: 0;
    bottom: -20px;
  }
  #second-wave .et_pb_column:nth-child(2){
    position: absolute;
    left: 260px;
    bottom: -20px;
  }
  #second-wave .et_pb_column:nth-child(3){
    position: absolute;
    right: 160px;
    bottom: -50px;
    margin-right: 0;
    width: 30%;
  }
  #second-wave .et_pb_column:nth-child(4){
    position: absolute;
    right: 0px;
    bottom: -60px;
  }
  #third-wave .et_pb_column:first-child{
    position: absolute;
    left: 90px;
    bottom: 0px;
    margin-right: 0;
  }
  #third-wave .et_pb_column:nth-child(2){
    position: absolute;
    left: 220px;
    bottom: 10px;
    margin-right: 0;
    width: 30%;
  }
  #third-wave .et_pb_column:nth-child(3){
    position: absolute;
    right: 200px;
    bottom: 10px;
  }
  #third-wave .et_pb_column:nth-child(4){
    position: absolute;
    right: 0;
    bottom: 30px;
  }
  #first-wave .et_pb_column:nth-child(4){
    position: absolute;
    right: 0;
    bottom: -50px;
  }
  #second-wave .et_pb_column:first-child{
    position: absolute;
    left: 0;
    bottom: -20px;
  }
  #second-wave .et_pb_column:nth-child(2){
    position: absolute;
    left: 260px;
    bottom: -20px;
  }
  #second-wave .et_pb_column:nth-child(3){
    position: absolute;
    right: 160px;
    bottom: -50px;
    margin-right: 0;
    width: 30%;
  }
  #second-wave .et_pb_column:nth-child(4){
    position: absolute;
    right: 0px;
    bottom: -60px;
  }
  #third-wave .et_pb_column:first-child{
    position: absolute;
    left: 90px;
    bottom: 0px;
    margin-right: 0;
  }
  #third-wave .et_pb_column:nth-child(2){
    position: absolute;
    left: 220px;
    bottom: 10px;
    margin-right: 0;
    width: 30%;
  }
  #third-wave .et_pb_column:nth-child(3){
    position: absolute;
    right: 200px;
    bottom: 10px;
  }
  #third-wave .et_pb_column:nth-child(4){
    position: absolute;
    right: 0;
    bottom: 30px;
  }
  #orange-bubble-first-long.orange-bubbles:after{
    width: 980px;
  }
  #white-bubble-fifth .et_pb_text_inner{
    left: 480px;
  }
  #white-bubble-fourth .et_pb_text_inner{
    left: 420px;
  }
  #white-bubble-third .et_pb_text_inner{
    left: 350px;
  }
  #white-bubble-second .et_pb_text_inner{
    left: 270px;
  }
  #orange-bubble-last-long.orange-bubbles:after{
    width: 400px;
  }
  #accept-ebtc-four-logos .support-logos img{
    width: 90%;
  }
}

@media screen and (max-width: 1280px) {
  #home-top .et_pb_row:first-child .et_pb_column:first-child{
    width: 40%;
    margin-right: 0;
  }
  #home-top .et_pb_row:first-child .et_pb_column:last-child{
    width: 60%;
  }
}

@media screen and (min-width: 1180px) and (max-width: 1280px) {
  #orange-bubble-first-long.orange-bubbles:after{
    width: 890px;
  }
  #white-bubble-fifth .et_pb_text_inner{
    left: 380px;
  }
  #white-bubble-fourth .et_pb_text_inner{
    left: 330px;
  }
  #white-bubble-third .et_pb_text_inner{
    left: 280px;
  }
  #white-bubble-second .et_pb_text_inner{
    left: 240px;
  }
  #white-bubble-first .et_pb_text_inner{
    left: 200px;
  }
  #orange-bubble-last-long.orange-bubbles:after{
    width: 400px;
  }
  #first-wave .et_pb_column:first-child{
    position: absolute;
    margin-right: 0;
    bottom: -20px;
  }
  #first-wave .et_pb_column:nth-child(2){
    position: absolute;
    left: 240px;
    bottom: -30px;
    width: 30%;
  }
  #first-wave .et_pb_column:nth-child(3){
    position: absolute;
    right: 50px;
    bottom: -60px;
    width: 36%;
  }
  #first-wave .et_pb_column:nth-child(3) h3{
    font-size: 22px;
  }
  #first-wave .et_pb_column:nth-child(4){
    position: absolute;
    right: 0;
    bottom: -50px;
  }
  #second-wave .et_pb_column:first-child{
    position: absolute;
    left: 0;
    bottom: -20px;
  }
  #second-wave .et_pb_column:nth-child(2){
    position: absolute;
    left: 260px;
    bottom: -20px;
  }
  #second-wave .et_pb_column:nth-child(3){
    position: absolute;
    right: 140px;
    bottom: -70px;
    margin-right: 0;
    width: 30%;
  }
  #second-wave .et_pb_column:nth-child(4){
    position: absolute;
    right: 0px;
    bottom: -60px;
  }
  #third-wave .et_pb_column:first-child{
    position: absolute;
    left: 60px;
    bottom: 0px;
    margin-right: 0;
  }
  #third-wave .et_pb_column:nth-child(2){
    position: absolute;
    left: 180px;
    bottom: 10px;
    margin-right: 0;
    width: 30%;
  }
  #third-wave .et_pb_column:nth-child(3){
    position: absolute;
    right: 170px;
    bottom: 20px;
  }
  #third-wave .et_pb_column:nth-child(4){
    position: absolute;
    right: 30px;
    bottom: 20px;
  }
}

@media screen and (min-width: 980px) and (max-width: 1280px){
  #purple-dot-fog{
    left: -150px;
    top: 160px;
  }
  #orange-bg-col1 .et_pb_module:first-child{
    margin-top: 0 !important;
  }
  #accept-ebtc-four-logos .support-logos img{
    width: 90%;
  }
}

@media screen and (min-width: 980px) and (max-width: 1180px) {
  #main-header .container{
    width: 90%;
  }
  #orange-bubble-first-long.orange-bubbles:after{
    width: 800px;
  }
  #white-bubble-fifth .et_pb_text_inner{
    left: 300px;
  }
  #white-bubble-fourth .et_pb_text_inner{
    left: 280px;
  }
  #white-bubble-third .et_pb_text_inner{
    left: 260px;
  }
  #white-bubble-second .et_pb_text_inner{
    left: 230px;
  }
  #white-bubble-first .et_pb_text_inner{
    left: 200px;
  }
  #orange-bubble-last-long.orange-bubbles:after{
    width: 400px;
  }
  #first-wave .et_pb_column:first-child{
    position: absolute;
    margin-right: 0;
    left: 20px;
    bottom: -20px;
  }
  #first-wave .et_pb_column:nth-child(2){
    position: absolute;
    left: 180px;
    bottom: -30px;
    width: 30%;
  }
  #first-wave .et_pb_column:nth-child(3){
    position: absolute;
    right: 20px;
    bottom: -60px;
    width: 38%;
  }
  #first-wave .et_pb_column:nth-child(3) h3{
    font-size: 20px;
  }
  #first-wave .et_pb_column:nth-child(3) p{
    font-size: 15px;
  }
  #first-wave .et_pb_column:nth-child(4){
    position: absolute;
    right: -40px;
    bottom: -60px;
  }
  #second-wave .et_pb_column:first-child{
    position: absolute;
    left: 0;
    bottom: -20px;
  }
  #second-wave .et_pb_column:nth-child(2){
    position: absolute;
    left: 210px;
    bottom: -20px;
  }
  #second-wave .et_pb_column:nth-child(3){
    position: absolute;
    right: 80px;
    bottom: -70px;
    margin-right: 0;
    width: 35%;
  }
  #second-wave .et_pb_column:nth-child(4){
    position: absolute;
    right: -20px;
    bottom: -70px;
  }
  #third-wave .et_pb_column:first-child{
    position: absolute;
    left: 0px;
    bottom: -20px;
    margin-right: 0;
  }
  #third-wave .et_pb_column:nth-child(2){
    position: absolute;
    left: 120px;
    bottom: 10px;
    margin-right: 0;
    width: 35%;
  }
  #third-wave .et_pb_column:nth-child(3){
    position: absolute;
    right: 170px;
    bottom: 20px;
  }
  #third-wave .et_pb_column:nth-child(4){
    position: absolute;
    right: 30px;
    bottom: 20px;
  }
  #bottom-subscribe-col1 .et_pb_subscribe .et_pb_newsletter_form{
    width: 100%;
  }
}

@media screen and (min-width: 980px) {
  #support-section #support-ebtc .support-logos{
    width: 35%;
    margin-right: 3% !important;
  }
  #support-section #support-ebtc .et_pb_text:last-of-type{
    float: left;
    width: 62%;
  }
  #support-section .support-logos{
    float: left;
  }
  #support-section #accept-ebtc-four-logos .support-logos{
    width: 20%;
  }
  #orange-bg-col2{
    margin-top: -10px;
  }
  #orange-bubble-last-long{
    margin-bottom: 0;
  }
  .white-bubbles{
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width: 980px) {
  .et_pb_section{
    overflow: hidden;
  }
  #purple-dot-fog{
    position: absolute;
    right: -320px;
    left: auto;
    top: 80px;
    width: 80% !important;
  }
  #et-top-navigation #et_mobile_nav_menu ul#mobile_menu{
    background-color: rgba(10, 14, 104, 0.95);
  }
  .custom-menu-item-highlight{
    background-color: transparent;
    padding: 10px 5% !important;
    border-radius: 0;
  }
  #orange-bg-section{
    padding-top: 40px;
    padding-bottom: 20px;
  }
  #orange-bg-col1{
    margin-bottom: 0;
  }
  #orange-bg-col2 .et_pb_text_inner{
    text-align: right;
  }
  #exchanges-section{
    background-position: center 580px;
    padding-bottom: 300px;
  }
  #wallets-section .et_pb_row:first-child .et_pb_column{
    margin-bottom: 0;
  }
  #support-section .et_pb_row:last-child{
    padding: 30px !important;
  }
  #support-section .et_pb_row{
    margin-bottom: 4% !important;
  }
  #support-section .et_pb_row:first-child{
    margin-bottom: 0 !important;
  }
  #team-two-columns .et_pb_column:first-child{
    width: 25% !important;
  }
  #team-two-columns .et_pb_column:first-child .orange-bubbles{
    margin-top: 200px !important;
  }
  #team-two-columns .et_pb_column:first-child .orange-bubbles:after{
    display: inline-block !important;
  }
  #team-two-columns #team-two-column-1{
    width: 36% !important;
    margin-bottom: 0 !important;
  }
  #team-two-columns #team-two-column-2{
    width: 36% !important;
  }
  #team-two-columns .et_pb_column:last-child{
    display: none;
  }
  #team-section .et_pb_row:not(#team-two-columns){
    padding-bottom: 0px;
  }
  #orange-bubble-first-long.orange-bubbles:after, .orange-bubbles:after{
    display: none;
  }
  .orange-bubbles:not(#team-two-columns .orange-bubbles){
    position: relative;
  }
  .orange-bubbles:not(#team-two-columns .orange-bubbles) .et_pb_text_inner{
    position: relative;
  }
  .white-bubbles{
    float: none;
  }
  #white-bubble-fifth .et_pb_text_inner{
    left: 50px;
  }
  #white-bubble-fourth .et_pb_text_inner{
    left: 50px;
  }
  #white-bubble-third .et_pb_text_inner{
    left: 50px;
  }
  #white-bubble-second .et_pb_text_inner{
    left: 50px;
  }
  #white-bubble-first .et_pb_text_inner{
    left: 50px;
  }
  #accept-ebtc-four-logos .et_pb_column{
    margin-bottom: 0;
  }
  #support-section #ebtc-partners .et_pb_column{
    margin-bottom: 0;
  }
  #bottom-subscribe-col1 .et_pb_subscribe .et_pb_newsletter_form{
    width: 100%;
  }
  #bottom-subscribe{
    padding-bottom: 0 !important;
  }
  #bottom-subscribe-col1 .et_pb_text{
    width: 40% !important;
    margin-right: 3% !important;
  }
  #bottom-subscribe-col1 .et_pb_subscribe{
    width: 57% !important;
  }
  #ebtc-last-row .et-last-child .et_pb_text_inner{
    text-align: left;
  }
  footer #footer-widgets{
    padding-top: 20px;
  }
  footer #footer-widgets .footer-widget:nth-child(n){
    width: 100% !important;
    text-align: center;
    margin: 0 0 5% 0 !important;
  }
  footer #footer-widgets .footer-widget:nth-child(2){
    margin-bottom: 0 !important;
  }
  footer #footer-widgets #custom_html-3{
    float: none;
  }
  #footer-widgets .footer-widget:last-child #custom_html-5{
    text-align: center;
  }
  #footer-widgets #media_image-3 img{
    max-width: 60% !important;
  }
}

@media (min-width: 700px) and (max-width: 980px){
  #support-section #accept-ebtc-four-logos .support-logos{
    width: 50%;
    float: left;
  }
  #exchanges-section .et_pb_row:nth-child(2) .et_pb_column .et_pb_module{
    float: left;
    width: 50%;
  }
}

@media screen and (max-width: 700px) {
  #exchanges-section{
    background-position: center 880px;
  }
  #team-two-columns{
    padding-top: 0;
  }
  #team-two-columns .et_pb_column:first-child{
    width: 100% !important;
  }
  #team-two-columns .et_pb_column:first-child .orange-bubbles{
    margin-top: 0px !important;
    display: block;
    position: relative;
    text-align: center;
  }
  #team-two-columns .et_pb_column:first-child .orange-bubbles:after{
    display: none !important;
  }
  #team-two-columns .et_pb_column:first-child .orange-bubbles p{
    position: relative;
  }
  #team-two-columns #team-two-column-1{
    width: 48.5% !important;
  }
  #team-two-columns #team-two-column-2{
    width: 48.5% !important;
    margin-bottom: 0 !important;
  }
  #team-two-columns #team-two-column-1 .et_pb_text{
    padding-right: 3px !important;
    padding-left: 3px !important;
  }
  #team-two-columns #team-two-column-1 .et_pb_text_33{
    font-size: 18px !important;
  }
  #team-two-columns #team-two-column-2 .et_pb_text_35{
    font-size: 18px !important;
  }
}


@media screen and (max-width: 600px) {
  #purple-dot-fog{
    display: none;
  }
  .ccc-header-v3-price-value{
    display: block;
    margin-left: 0;
    margin-top: 10px;
  }
  .ccc-header-v3-price-change{
    display: block;
    margin-left: 0;
    margin-top: 10px;
  }
  #orange-bg-col1 .et_pb_module:first-child{
    width: 100%;
    text-align: center;
  }
  #orange-bg-col1 .et_pb_module:last-child{
    width: 100%;
    text-align: center;
  }
  #orange-bg-col2 .et_pb_module:first-child{
    float: none !important;
    width: 100% !important;
  }
  #orange-bg-col2 .et_pb_text_inner{
    text-align: center;
    margin-bottom: 10px;
  }
  #orange-bg-col2 .et_pb_module{
    width: 20%;
  }
  #bottom-subscribe-col1 .et_pb_text{
    width: 100% !important;
    margin-right: 0 !important;
  }
  #bottom-subscribe-col1 .et_pb_subscribe{
    width: 100% !important;
  }
  #bottom-subscribe-col1 .et_pb_subscribe .et_pb_newsletter_form p:first-of-type{
    width: 100% !important;
    margin-bottom: 20px;
  }
  #bottom-subscribe-col1 .et_pb_subscribe .et_pb_newsletter_form p:last-of-type{
    width: 100% !important;
  }
}

@media screen and (max-width: 480px){
  #exchanges-section{
    background-position: center 890px;
  }
}
